@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #7DD3FF;
    --secondary-color: #0043AE;
    --accent1-color: #FFF265;
    --accent2-color: #B6503D;

    --heading-font: "Russo One";
    --paragraph-font: "Roboto";

    --nav-background-color: #FCFDFE;
    --nav-link-color: #0043AE;
    --nav-hover-link-color: #FCFDFE;
    --nav-hover-background-color: #7DD3FF;
}

nav {
    float: right;
    background-color: var(--nav-hover-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h1, h2 {
    color: var(--secondary-color);
    font-family: "Russo One";
}

p {
    color: var(--accent2-color);
    font-family: "Roboto";
}

nav a { 
    display: block;
    text-decoration-line: none;
    color: var(--nav-link-color);
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 1500px;
    padding: 20px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    margin: 1rem;
    background-size: cover;
    background-position: center;
}

.hero h1 {
    position: absolute;
    text-align: center;
    background: var(--primary-color);
    top: 7%;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 1rem;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%
}

.hero p {
    position: relative;
    text-align: left;
    padding: 30px;
    width: 100%;
    color: var(--accent1-color);
    font-family: "Roboto";
    padding: 0;
}

.hero article img {
    float: right;
    position: relative;
    width: 300px;
    height: auto;
    top: auto;
}

article {
    position: absolute;
    padding: 1em;
    width: 70rem;
    left: 50%;
    background-color: rgba(40, 11, 205, 0.2);
    text-align: left;
    top: 35%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}