@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #2D4C8F;
    --secondary-color: #FFBE62;
    --accent1-color: #FFF265;
    --accent2-color: #AE554D;

    --heading-font: "Russo One";
    --paragraph-font: "Roboto";

    --nav-background-color: #FCFDFE;
    --nav-link-color: #2D4C8F;
    --nav-hover-link-color: #FCFDFE;
    --nav-hover-background-color: #FFBE62;
}

h1, h2 {
    color: var(--secondary-color);
    font-family: "Russo One";
}

p {
    color: var(--accent2-color);
    font-family: "Roboto";
}

a { 
    display: block;
    text-decoration-line: none;
}

body {
    font-family: var(--paragraph-font);
    max-width: 1500px;
    padding: 20px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    margin: 1rem;
}

.hero h1 {
    position: absolute;
    text-align: center;
    background: var(--primary-color);
    top: 0px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 1rem;
    max-width: 80rem;
    width: 100%
}

.hero p {
    position: relative;
    text-align: left;
    padding: 30px;
    width: 100%;
    color: var(--accent1-color);
    font-family: "Roboto";
    padding: 0;
}

.hero article img {
    float: right;
    position: relative;
    width: 300px;
    height: auto;
    top: auto;
}

article {
    position: absolute;
    padding: 1em;
    width: 70rem;
    left: 80px;
    background-color: rgba(40, 11, 205, 0.2);
    color: var(--accent1-color);
    text-align: left;
    top: 110px;
}